.App{
    width : 100vw;
    height:100vh;
    display:flexbox;
    flex-flow: row nowrap;
    background-color: var(--background-color)
}

.Avatar{
    display: inline-flexbox;
    flex-flow:column;
    padding-right: 15px;
}

.title{
    font-family: var(--reddit-author-subreddit-heading-subreddit-name-font);
}

.avatar-image{
    border-radius: 50%;
    align-self: center;
}